In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (csv location)
emission_data_csv = "Resources/historical_emissions_sectors.csv"

# Read in csv file from Resources Folder
emission_data = pd.read_csv(emission_data_csv)
emission_data.head()

,Country,Data source,Sector,Gas,Unit,2019,2018,2017,2016,2015,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,World,GCP,Total fossil fuels and cement,CO2,MtCO₂e,36440.76,36420.16,35694.69,35222.03,35211.04,...,13692.37,12834.99,12171.81,11794.42,11270.46,10768.50,10237.22,9687.62,9354.19,9335.87
1,World,GCP,Coal,CO2,MtCO₂e,14362.56,14619.36,14414.18,14362.88,14623.02,...,5503.33,5301.81,5243.18,5327.46,5279.82,5195.55,5100.29,4902.43,4917.09,5129.60
2,World,GCP,Oil,CO2,MtCO₂e,12354.11,12252.42,12175.47,11970.29,11915.33,...,5964.99,5514.32,5063.65,4748.54,4411.46,4100.02,3806.90,3554.08,3304.93,3121.73
3,China,GCP,Total fossil fuels and cement,CO2,MtCO₂e,10174.68,9956.57,9750.73,9552.52,9683.20,...,575.94,467.81,432.22,521.46,474.68,435.70,435.52,439.34,550.96,778.98
4,World,GCP,Gas,CO2,MtCO₂e,7615.71,7489.22,7115.49,6939.62,6763.74,...,1711.09,1564.53,1436.29,1341.02,1234.77,1154.16,1047.90,967.30,883.02,835.39

In [2]:
#delete the extra columns [Data Source, Gas, Unit]
emission_data = emission_data.drop(columns = ['Data source','Gas','Unit'])
emission_data.head()

,Country,Sector,2019,2018,2017,2016,2015,2014,2013,2012,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,World,Total fossil fuels and cement,36440.76,36420.16,35694.69,35222.03,35211.04,35244.02,34987.54,34760.37,...,13692.37,12834.99,12171.81,11794.42,11270.46,10768.50,10237.22,9687.62,9354.19,9335.87
1,World,Coal,14362.56,14619.36,14414.18,14362.88,14623.02,14945.46,14919.81,14901.49,...,5503.33,5301.81,5243.18,5327.46,5279.82,5195.55,5100.29,4902.43,4917.09,5129.60
2,World,Oil,12354.11,12252.42,12175.47,11970.29,11915.33,11743.12,11629.54,11523.28,...,5964.99,5514.32,5063.65,4748.54,4411.46,4100.02,3806.90,3554.08,3304.93,3121.73
3,China,Total fossil fuels and cement,10174.68,9956.57,9750.73,9552.52,9683.20,9820.36,9796.53,9633.90,...,575.94,467.81,432.22,521.46,474.68,435.70,435.52,439.34,550.96,778.98
4,World,Gas,7615.71,7489.22,7115.49,6939.62,6763.74,6591.54,6540.24,6496.27,...,1711.09,1564.53,1436.29,1341.02,1234.77,1154.16,1047.90,967.30,883.02,835.39

In [3]:
#Locate only the total emission
filtered_emission_total = emission_data.loc[emission_data["Sector"] == 'Total fossil fuels and cement']
filtered_emission_total = filtered_emission_total.drop(columns = ['Sector'])
filtered_emission_total

,Country,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,World,36440.76,36420.16,35694.69,35222.03,35211.04,35244.02,34987.54,34760.37,34210.77,...,13692.37,12834.99,12171.81,11794.42,11270.46,10768.50,10237.22,9687.62,9354.19,9335.87
3,China,10174.68,9956.57,9750.73,9552.52,9683.20,9820.36,9796.53,9633.90,9388.20,...,575.94,467.81,432.22,521.46,474.68,435.70,435.52,439.34,550.96,778.98
6,United States,5284.70,5424.88,5253.61,5292.27,5412.43,5561.72,5514.03,5367.57,5565.29,...,4021.50,3828.31,3693.30,3559.18,3388.19,3252.76,3116.02,2984.00,2877.37,2887.82
7,European Union (27),2916.91,3054.49,3127.50,3103.52,3098.97,3044.69,3179.99,3260.93,3336.52,...,3150.78,2949.08,2777.13,2715.40,2655.79,2611.54,2500.41,2312.45,2157.63,2067.81
8,India,2616.45,2591.32,2456.85,2392.36,2253.43,2184.44,2033.40,1941.31,1766.07,...,177.64,174.30,159.78,159.59,153.92,139.69,142.65,132.78,120.58,111.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,Cook Islands,0.08,0.07,0.07,0.06,0.06,0.07,0.06,0.06,0.06,...,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
808,Kiribati,0.07,0.07,0.07,0.07,0.06,0.06,0.05,0.05,0.05,...,0.01,0.03,0.02,0.01,0.01,0.02,0.02,0.01,0.01,NaN
814,Nauru,0.05,0.05,0.05,0.04,0.05,0.05,0.05,0.04,0.04,...,0.07,0.05,0.05,0.03,0.03,0.03,NaN,NaN,NaN,NaN
832,Niue,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,Tuvalu,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
filtered_emission_total = filtered_emission_total.set_index('Country')
filtered_emission_total.head()

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
Country,,,,,,,,,,,,,,,,,,,,,
World,36440.76,36420.16,35694.69,35222.03,35211.04,35244.02,34987.54,34760.37,34210.77,33133.55,...,13692.37,12834.99,12171.81,11794.42,11270.46,10768.50,10237.22,9687.62,9354.19,9335.87
China,10174.68,9956.57,9750.73,9552.52,9683.20,9820.36,9796.53,9633.90,9388.20,8500.54,...,575.94,467.81,432.22,521.46,474.68,435.70,435.52,439.34,550.96,778.98
United States,5284.70,5424.88,5253.61,5292.27,5412.43,5561.72,5514.03,5367.57,5565.29,5698.06,...,4021.50,3828.31,3693.30,3559.18,3388.19,3252.76,3116.02,2984.00,2877.37,2887.82
European Union (27),2916.91,3054.49,3127.50,3103.52,3098.97,3044.69,3179.99,3260.93,3336.52,3442.04,...,3150.78,2949.08,2777.13,2715.40,2655.79,2611.54,2500.41,2312.45,2157.63,2067.81
India,2616.45,2591.32,2456.85,2392.36,2253.43,2184.44,2033.40,1941.31,1766.07,1678.48,...,177.64,174.30,159.78,159.59,153.92,139.69,142.65,132.78,120.58,111.49

In [5]:
filtered_emission_total = filtered_emission_total.drop(['World','European Union (27)'])
filtered_emission_total

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
Country,,,,,,,,,,,,,,,,,,,,,
China,10174.68,9956.57,9750.73,9552.52,9683.20,9820.36,9796.53,9633.90,9388.20,8500.54,...,575.94,467.81,432.22,521.46,474.68,435.70,435.52,439.34,550.96,778.98
United States,5284.70,5424.88,5253.61,5292.27,5412.43,5561.72,5514.03,5367.57,5565.29,5698.06,...,4021.50,3828.31,3693.30,3559.18,3388.19,3252.76,3116.02,2984.00,2877.37,2887.82
India,2616.45,2591.32,2456.85,2392.36,2253.43,2184.44,2033.40,1941.31,1766.07,1678.48,...,177.64,174.30,159.78,159.59,153.92,139.69,142.65,132.78,120.58,111.49
Russia,1678.37,1691.36,1646.18,1618.30,1622.86,1622.35,1619.17,1679.87,1664.95,1612.88,...,1371.48,1316.89,1280.90,1224.98,1159.99,1093.52,1028.22,958.76,913.53,885.86
Japan,1106.66,1135.69,1187.66,1203.17,1222.78,1263.05,1314.70,1305.43,1264.16,1214.07,...,653.22,561.91,489.31,419.25,386.47,358.89,324.84,292.86,282.79,232.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cook Islands,0.08,0.07,0.07,0.06,0.06,0.07,0.06,0.06,0.06,0.05,...,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kiribati,0.07,0.07,0.07,0.07,0.06,0.06,0.05,0.05,0.05,0.06,...,0.01,0.03,0.02,0.01,0.01,0.02,0.02,0.01,0.01,NaN
Nauru,0.05,0.05,0.05,0.04,0.05,0.05,0.05,0.04,0.04,0.04,...,0.07,0.05,0.05,0.03,0.03,0.03,NaN,NaN,NaN,NaN
Niue,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
filtered_emission_total = filtered_emission_total.dropna()
filtered_emission_total

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
Country,,,,,,,,,,,,,,,,,,,,,
China,10174.68,9956.57,9750.73,9552.52,9683.20,9820.36,9796.53,9633.90,9388.20,8500.54,...,575.94,467.81,432.22,521.46,474.68,435.70,435.52,439.34,550.96,778.98
United States,5284.70,5424.88,5253.61,5292.27,5412.43,5561.72,5514.03,5367.57,5565.29,5698.06,...,4021.50,3828.31,3693.30,3559.18,3388.19,3252.76,3116.02,2984.00,2877.37,2887.82
India,2616.45,2591.32,2456.85,2392.36,2253.43,2184.44,2033.40,1941.31,1766.07,1678.48,...,177.64,174.30,159.78,159.59,153.92,139.69,142.65,132.78,120.58,111.49
Russia,1678.37,1691.36,1646.18,1618.30,1622.86,1622.35,1619.17,1679.87,1664.95,1612.88,...,1371.48,1316.89,1280.90,1224.98,1159.99,1093.52,1028.22,958.76,913.53,885.86
Japan,1106.66,1135.69,1187.66,1203.17,1222.78,1263.05,1314.70,1305.43,1264.16,1214.07,...,653.22,561.91,489.31,419.25,386.47,358.89,324.84,292.86,282.79,232.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Saint Vincent and the Grenadines,0.26,0.26,0.26,0.25,0.21,0.27,0.21,0.25,0.20,0.22,...,0.03,0.02,0.02,0.02,0.01,0.02,0.01,0.01,0.01,0.01
Comoros,0.25,0.25,0.24,0.20,0.17,0.15,0.18,0.14,0.14,0.16,...,0.02,0.02,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01
Tonga,0.18,0.16,0.16,0.13,0.12,0.11,0.11,0.11,0.10,0.12,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
Dominica,0.16,0.17,0.16,0.18,0.18,0.18,0.17,0.16,0.15,0.17,...,0.02,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01
Sao Tome and Principe,0.13,0.13,0.12,0.12,0.11,0.11,0.11,0.11,0.10,0.10,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01

In [7]:
sum_emission_dummy = []
sum_emission = []
year_index = 0
# column_count = len(filtered_emission_total.columns)-1
# column_count

In [8]:
#outer loop to iterate the years (incremented by 10)
for year in range(2019,1960,-10):
    #inner loop to iterate each row (country)
    for row in filtered_emission_total.iterrows():
        #third loop to iterate through the decade
        for decade in range(year_index,year_index+10):     
                                        #a dummy df with 10 numbers for each row (country)
                                        #locate where column name >= year AND column name < year+10
                                            #(row[f'{decade}'] >= year) & (row[f'{decade}'] < (year+10))
            sum_emission_dummy.append(row[1][decade])
            
        #sum the dummy df to get a decade sum for each row (country)    
        sum_dummy_df = pd.DataFrame(sum_emission_dummy)
        sum_emission_dummy = []

        row_group_sum = sum_dummy_df.sum()
        
        #input the sum for the row (country) per decade
        sum_emission.append(row_group_sum)
    
    #increment index by 10 to get columns for next decade
    year_index += 10
    
sum_emission

[0    96257.23
 dtype: float64,
 0    54374.56
 dtype: float64,
 0    21914.11
 dtype: float64,
 0    16456.29
 dtype: float64,
 0    12217.37
 dtype: float64,
 0    6542.76
 dtype: float64,
 0    7920.29
 dtype: float64,
 0    5090.93
 dtype: float64,
 0    5996.23
 dtype: float64,
 0    5670.76
 dtype: float64,
 0    5720.22
 dtype: float64,
 0    4668.11
 dtype: float64,
 0    4710.85
 dtype: float64,
 0    4732.92
 dtype: float64,
 0    4062.89
 dtype: float64,
 0    3746.65
 dtype: float64,
 0    4346.29
 dtype: float64,
 0    3726.01
 dtype: float64,
 0    3496.38
 dtype: float64,
 0    3261.85
 dtype: float64,
 0    2790.01
 dtype: float64,
 0    2778.51
 dtype: float64,
 0    2684.43
 dtype: float64,
 0    2353.42
 dtype: float64,
 0    1869.44
 dtype: float64,
 0    1729.25
 dtype: float64,
 0    2250.17
 dtype: float64,
 0    2597.11
 dtype: float64,
 0    1729.27
 dtype: float64,
 0    2014.35
 dtype: float64,
 0    1882.25
 dtype: float64,
 0    1430.51
 dtype: float64,
 0    1653.6
 dtype: float64,
 0    1104.15
 dtype: float64,
 0    1244.83
 dtype: float64,
 0    1639.49
 dtype: float64,
 0    1084.38
 dtype: float64,
 0    964.63
 dtype: float64,
 0    974.57
 dtype: float64,
 0    886.0
 dtype: float64,
 0    715.89
 dtype: float64,
 0    1076.51
 dtype: float64,
 0    1021.69
 dtype: float64,
 0    692.48
 dtype: float64,
 0    808.16
 dtype: float64,
 0    798.03
 dtype: float64,
 0    613.57
 dtype: float64,
 0    679.19
 dtype: float64,
 0    803.9
 dtype: float64,
 0    356.16
 dtype: float64,
 0    656.62
 dtype: float64,
 0    619.1
 dtype: float64,
 0    455.11
 dtype: float64,
 0    514.54
 dtype: float64,
 0    479.22
 dtype: float64,
 0    508.4
 dtype: float64,
 0    495.54
 dtype: float64,
 0    450.49
 dtype: float64,
 0    446.32
 dtype: float64,
 0    463.82
 dtype: float64,
 0    494.89
 dtype: float64,
 0    393.7
 dtype: float64,
 0    359.14
 dtype: float64,
 0    463.32
 dtype: float64,
 0    332.08
 dtype: float64,
 0    351.73
 dtype: float64,
 0    431.65
 dtype: float64,
 0    401.39
 dtype: float64,
 0    385.45
 dtype: float64,
 0    353.79
 dtype: float64,
 0    310.16
 dtype: float64,
 0    356.77
 dtype: float64,
 0    123.96
 dtype: float64,
 0    386.05
 dtype: float64,
 0    282.96
 dtype: float64,
 0    244.51
 dtype: float64,
 0    231.15
 dtype: float64,
 0    363.0
 dtype: float64,
 0    218.85
 dtype: float64,
 0    192.7
 dtype: float64,
 0    241.08
 dtype: float64,
 0    282.03
 dtype: float64,
 0    189.76
 dtype: float64,
 0    182.31
 dtype: float64,
 0    193.69
 dtype: float64,
 0    148.99
 dtype: float64,
 0    187.29
 dtype: float64,
 0    147.65
 dtype: float64,
 0    118.8
 dtype: float64,
 0    88.34
 dtype: float64,
 0    140.11
 dtype: float64,
 0    81.61
 dtype: float64,
 0    177.08
 dtype: float64,
 0    147.77
 dtype: float64,
 0    136.29
 dtype: float64,
 0    98.54
 dtype: float64,
 0    108.92
 dtype: float64,
 0    98.87
 dtype: float64,
 0    94.44
 dtype: float64,
 0    95.09
 dtype: float64,
 0    89.61
 dtype: float64,
 0    103.53
 dtype: float64,
 0    88.54
 dtype: float64,
 0    164.54
 dtype: float64,
 0    100.32
 dtype: float64,
 0    86.34
 dtype: float64,
 0    49.88
 dtype: float64,
 0    60.32
 dtype: float64,
 0    77.77
 dtype: float64,
 0    63.6
 dtype: float64,
 0    76.27
 dtype: float64,
 0    78.21
 dtype: float64,
 0    79.92
 dtype: float64,
 0    60.57
 dtype: float64,
 0    69.95
 dtype: float64,
 0    73.06
 dtype: float64,
 0    59.71
 dtype: float64,
 0    46.16
 dtype: float64,
 0    68.68
 dtype: float64,
 0    63.14
 dtype: float64,
 0    54.09
 dtype: float64,
 0    51.02
 dtype: float64,
 0    68.48
 dtype: float64,
 0    50.11
 dtype: float64,
 0    49.78
 dtype: float64,
 0    44.34
 dtype: float64,
 0    50.16
 dtype: float64,
 0    42.76
 dtype: float64,
 0    31.62
 dtype: float64,
 0    28.35
 dtype: float64,
 0    32.27
 dtype: float64,
 0    31.11
 dtype: float64,
 0    27.98
 dtype: float64,
 0    35.28
 dtype: float64,
 0    27.79
 dtype: float64,
 0    26.96
 dtype: float64,
 0    26.02
 dtype: float64,
 0    25.54
 dtype: float64,
 0    22.24
 dtype: float64,
 0    21.08
 dtype: float64,
 0    26.43
 dtype: float64,
 0    16.82
 dtype: float64,
 0    18.55
 dtype: float64,
 0    21.16
 dtype: float64,
 0    15.19
 dtype: float64,
 0    20.57
 dtype: float64,
 0    12.2
 dtype: float64,
 0    11.02
 dtype: float64,
 0    13.25
 dtype: float64,
 0    8.75
 dtype: float64,
 0    9.1
 dtype: float64,
 0    9.15
 dtype: float64,
 0    6.34
 dtype: float64,
 0    5.61
 dtype: float64,
 0    5.51
 dtype: float64,
 0    5.0
 dtype: float64,
 0    4.34
 dtype: float64,
 0    4.73
 dtype: float64,
 0    4.42
 dtype: float64,
 0    3.44
 dtype: float64,
 0    2.76
 dtype: float64,
 0    3.21
 dtype: float64,
 0    2.91
 dtype: float64,
 0    2.69
 dtype: float64,
 0    2.3
 dtype: float64,
 0    2.39
 dtype: float64,
 0    1.88
 dtype: float64,
 0    1.3
 dtype: float64,
 0    1.68
 dtype: float64,
 0    1.14
 dtype: float64,
 0    54280.75
 dtype: float64,
 0    59673.69
 dtype: float64,
 0    12056.71
 dtype: float64,
 0    15453.35
 dtype: float64,
 0    12618.98
 dtype: float64,
 0    4580.5
 dtype: float64,
 0    8744.49
 dtype: float64,
 0    3458.5
 dtype: float64,
 0    4729.49
 dtype: float64,
 0    3751.53
 dtype: float64,
 0    5740.57
 dtype: float64,
 0    4283.62
 dtype: float64,
 0    3417.23
 dtype: float64,
 0    4484.59
 dtype: float64,
 0    3813.93
 dtype: float64,
 0    2628.47
 dtype: float64,
 0    5584.8
 dtype: float64,
 0    4788.8
 dtype: float64,
 0    4126.53
 dtype: float64,
 0    3224.28
 dtype: float64,
 0    1924.92
 dtype: float64,
 0    2121.21
 dtype: float64,
 0    3382.21
 dtype: float64,
 0    1669.72
 dtype: float64,
 0    1317.81
 dtype: float64,
 0    875.24
 dtype: float64,
 0    1610.99
 dtype: float64,
 0    3086.92
 dtype: float64,
 0    915.34
 dtype: float64,
 0    1202.45
 dtype: float64,
 0    1569.77
 dtype: float64,
 0    983.82
 dtype: float64,
 0    1754.14
 dtype: float64,
 0    720.13
 dtype: float64,
 0    926.03
 dtype: float64,
 0    1671.48
 dtype: float64,
 0    1206.5
 dtype: float64,
 0    510.14
 dtype: float64,
 0    680.25
 dtype: float64,
 0    600.74
 dtype: float64,
 0    375.41
 dtype: float64,
 0    1251.93
 dtype: float64,
 0    1234.8
 dtype: float64,
 0    466.66
 dtype: float64,
 0    611.48
 dtype: float64,
 0    1014.89
 dtype: float64,
 0    438.97
 dtype: float64,
 0    734.83
 dtype: float64,
 0    1088.52
 dtype: float64,
 0    95.35
 dtype: float64,
 0    616.24
 dtype: float64,
 0    597.69
 dtype: float64,
 0    531.96
 dtype: float64,
 0    332.99
 dtype: float64,
 0    589.05
 dtype: float64,
 0    645.62
 dtype: float64,
 0    507.02
 dtype: float64,
 0    539.06
 dtype: float64,
 0    442.21
 dtype: float64,
 0    498.81
 dtype: float64,
 0    632.97
 dtype: float64,
 0    278.41
 dtype: float64,
 0    321.82
 dtype: float64,
 0    516.53
 dtype: float64,
 0    689.81
 dtype: float64,
 0    178.63
 dtype: float64,
 0    358.07
 dtype: float64,
 0    444.83
 dtype: float64,
 0    463.77
 dtype: float64,
 0    357.62
 dtype: float64,
 0    207.16
 dtype: float64,
 0    418.1
 dtype: float64,
 0    15.39
 dtype: float64,
 0    546.96
 dtype: float64,
 0    220.84
 dtype: float64,
 0    167.43
 dtype: float64,
 0    197.12
 dtype: float64,
 0    537.9
 dtype: float64,
 0    162.35
 dtype: float64,
 0    107.01
 dtype: float64,
 0    187.35
 dtype: float64,
 0    261.18
 dtype: float64,
 0    115.32
 dtype: float64,
 0    98.78
 dtype: float64,
 0    117.63
 dtype: float64,
 0    111.11
 dtype: float64,
 0    225.77
 dtype: float64,
 0    90.49
 dtype: float64,
 0    51.17
 dtype: float64,
 0    28.85
 dtype: float64,
 0    76.66
 dtype: float64,
 0    29.77
 dtype: float64,
 0    165.03
 dtype: float64,
 0    167.21
 dtype: float64,
 0    135.63
 dtype: float64,
 0    66.24
 dtype: float64,
 0    67.33
 dtype: float64,
 0    45.66
 dtype: float64,
 0    56.31
 dtype: float64,
 0    70.08
 dtype: float64,
 0    20.84
 dtype: float64,
 0    102.36
 dtype: float64,
 0    48.52
 dtype: float64,
 0    189.65
 dtype: float64,
 0    107.51
 dtype: float64,
 0    57.23
 dtype: float64,
 0    24.56
 dtype: float64,
 0    18.62
 dtype: float64,
 0    68.15
 dtype: float64,
 0    39.8
 dtype: float64,
 0    77.87
 dtype: float64,
 0    106.42
 dtype: float64,
 0    103.79
 dtype: float64,
 0    29.38
 dtype: float64,
 0    42.61
 dtype: float64,
 0    78.78
 dtype: float64,
 0    42.46
 dtype: float64,
 0    20.67
 dtype: float64,
 0    59.38
 dtype: float64,
 0    62.87
 dtype: float64,
 0    41.06
 dtype: float64,
 0    45.1
 dtype: float64,
 0    59.24
 dtype: float64,
 0    38.69
 dtype: float64,
 0    42.4
 dtype: float64,
 0    20.24
 dtype: float64,
 0    44.73
 dtype: float64,
 0    32.67
 dtype: float64,
 0    12.82
 dtype: float64,
 0    14.44
 dtype: float64,
 0    17.11
 dtype: float64,
 0    10.18
 dtype: float64,
 0    10.92
 dtype: float64,
 0    32.16
 dtype: float64,
 0    19.46
 dtype: float64,
 0    16.35
 dtype: float64,
 0    17.92
 dtype: float64,
 0    18.24
 dtype: float64,
 0    19.05
 dtype: float64,
 0    17.52
 dtype: float64,
 0    12.91
 dtype: float64,
 0    10.22
 dtype: float64,
 0    7.47
 dtype: float64,
 0    19.06
 dtype: float64,
 0    8.97
 dtype: float64,
 0    27.1
 dtype: float64,
 0    9.29
 dtype: float64,
 0    5.3
 dtype: float64,
 0    13.29
 dtype: float64,
 0    5.24
 dtype: float64,
 0    7.27
 dtype: float64,
 0    5.12
 dtype: float64,
 0    5.74
 dtype: float64,
 0    4.4
 dtype: float64,
 0    3.77
 dtype: float64,
 0    3.27
 dtype: float64,
 0    1.96
 dtype: float64,
 0    3.66
 dtype: float64,
 0    4.21
 dtype: float64,
 0    3.36
 dtype: float64,
 0    1.96
 dtype: float64,
 0    2.73
 dtype: float64,
 0    2.46
 dtype: float64,
 0    2.21
 dtype: float64,
 0    1.6
 dtype: float64,
 0    2.14
 dtype: float64,
 0    1.21
 dtype: float64,
 0    1.12
 dtype: float64,
 0    1.35
 dtype: float64,
 0    0.71
 dtype: float64,
 0    30070.05
 dtype: float64,
 0    54401.25
 dtype: float64,
 0    7524.23
 dtype: float64,
 0    17992.29
 dtype: float64,
 0    12092.77
 dtype: float64,
 0    2659.15
 dtype: float64,
 0    9576.75
 dtype: float64,
 0    2199.38
 dtype: float64,
 0    3422.96
 dtype: float64,
 0    2500.73
 dtype: float64,
 0    4945.14
 dtype: float64,
 0    3462.33
 dtype: float64,
 0    2568.28
 dtype: float64,
 0    3494.44
 dtype: float64,
 0    3043.77
 dtype: float64,
 0    1824.12
 dtype: float64,
 0    5802.67
 dtype: float64,
 0    4431.39
 dtype: float64,
 0    4093.01
 dtype: float64,
 0    3616.67
 dtype: float64,
 0    1977.73
 dtype: float64,
 0    1381.29
 dtype: float64,
 0    2581.88
 dtype: float64,
 0    942.09
 dtype: float64,
 0    835.61
 dtype: float64,
 0    312.57
 dtype: float64,
 0    951.23
 dtype: float64,
 0    4565.19
 dtype: float64,
 0    642.58
 dtype: float64,
 0    678.4
 dtype: float64,
 0    1277.73
 dtype: float64,
 0    880.58
 dtype: float64,
 0    1723.05
 dtype: float64,
 0    563.85
 dtype: float64,
 0    395.36
 dtype: float64,
 0    1324.0
 dtype: float64,
 0    1112.36
 dtype: float64,
 0    282.93
 dtype: float64,
 0    451.29
 dtype: float64,
 0    608.14
 dtype: float64,
 0    191.74
 dtype: float64,
 0    1367.97
 dtype: float64,
 0    1246.87
 dtype: float64,
 0    334.47
 dtype: float64,
 0    430.11
 dtype: float64,
 0    1261.06
 dtype: float64,
 0    280.56
 dtype: float64,
 0    640.85
 dtype: float64,
 0    889.08
 dtype: float64,
 0    89.03
 dtype: float64,
 0    473.18
 dtype: float64,
 0    714.41
 dtype: float64,
 0    437.14
 dtype: float64,
 0    243.4
 dtype: float64,
 0    641.35
 dtype: float64,
 0    529.22
 dtype: float64,
 0    422.28
 dtype: float64,
 0    585.35
 dtype: float64,
 0    385.88
 dtype: float64,
 0    580.04
 dtype: float64,
 0    587.75
 dtype: float64,
 0    200.83
 dtype: float64,
 0    404.25
 dtype: float64,
 0    497.25
 dtype: float64,
 0    865.11
 dtype: float64,
 0    70.06
 dtype: float64,
 0    187.49
 dtype: float64,
 0    442.18
 dtype: float64,
 0    363.94
 dtype: float64,
 0    285.19
 dtype: float64,
 0    148.54
 dtype: float64,
 0    474.55
 dtype: float64,
 0    6.77
 dtype: float64,
 0    623.02
 dtype: float64,
 0    160.32
 dtype: float64,
 0    120.0
 dtype: float64,
 0    141.47
 dtype: float64,
 0    443.65
 dtype: float64,
 0    100.85
 dtype: float64,
 0    63.23
 dtype: float64,
 0    127.01
 dtype: float64,
 0    250.25
 dtype: float64,
 0    60.07
 dtype: float64,
 0    41.58
 dtype: float64,
 0    86.45
 dtype: float64,
 0    66.77
 dtype: float64,
 0    182.62
 dtype: float64,
 0    73.06
 dtype: float64,
 0    28.61
 dtype: float64,
 0    15.27
 dtype: float64,
 0    50.5
 dtype: float64,
 0    19.34
 dtype: float64,
 0    221.42
 dtype: float64,
 0    150.75
 dtype: float64,
 0    202.5
 dtype: float64,
 0    55.14
 dtype: float64,
 0    42.07
 dtype: float64,
 0    23.75
 dtype: float64,
 0    91.63
 dtype: float64,
 0    34.58
 dtype: float64,
 0    14.33
 dtype: float64,
 0    156.38
 dtype: float64,
 0    100.4
 dtype: float64,
 0    104.11
 dtype: float64,
 0    103.29
 dtype: float64,
 0    49.78
 dtype: float64,
 0    46.47
 dtype: float64,
 0    10.83
 dtype: float64,
 0    44.12
 dtype: float64,
 0    33.68
 dtype: float64,
 0    116.37
 dtype: float64,
 0    112.72
 dtype: float64,
 0    87.76
 dtype: float64,
 0    11.07
 dtype: float64,
 0    25.23
 dtype: float64,
 0    59.03
 dtype: float64,
 0    23.01
 dtype: float64,
 0    22.46
 dtype: float64,
 0    49.9
 dtype: float64,
 0    43.58
 dtype: float64,
 0    64.01
 dtype: float64,
 0    140.93
 dtype: float64,
 0    1.45
 dtype: float64,
 0    26.71
 dtype: float64,
 0    26.82
 dtype: float64,
 0    9.32
 dtype: float64,
 0    47.15
 dtype: float64,
 0    18.46
 dtype: float64,
 0    7.0
 dtype: float64,
 0    9.84
 dtype: float64,
 0    12.96
 dtype: float64,
 0    11.48
 dtype: float64,
 0    5.29
 dtype: float64,
 0    24.59
 dtype: float64,
 0    9.52
 dtype: float64,
 0    11.58
 dtype: float64,
 0    11.78
 dtype: float64,
 0    20.33
 dtype: float64,
 0    14.83
 dtype: float64,
 0    14.48
 dtype: float64,
 0    23.81
 dtype: float64,
 0    7.57
 dtype: float64,
 0    6.11
 dtype: float64,
 0    17.9
 dtype: float64,
 0    3.78
 dtype: float64,
 0    25.35
 dtype: float64,
 0    8.69
 dtype: float64,
 0    4.24
 dtype: float64,
 0    9.86
 dtype: float64,
 0    4.78
 dtype: float64,
 0    4.23
 dtype: float64,
 0    3.69
 dtype: float64,
 0    6.09
 dtype: float64,
 0    3.63
 dtype: float64,
 0    1.28
 dtype: float64,
 0    2.19
 dtype: float64,
 0    2.36
 dtype: float64,
 0    2.35
 dtype: float64,
 0    3.36
 dtype: float64,
 0    2.52
 dtype: float64,
 0    1.81
 dtype: float64,
 0    1.86
 dtype: float64,
 0    2.3
 dtype: float64,
 0    1.44
 dtype: float64,
 0    1.18
 dtype: float64,
 0    1.17
 dtype: float64,
 0    0.75
 dtype: float64,
 0    0.9
 dtype: float64,
 0    0.7
 dtype: float64,
 0    0.5
 dtype: float64,
 0    18859.98
 dtype: float64,
 0    45839.88
 dtype: float64,
 0    3962.21
 dtype: float64,
 0    22521.42
 dtype: float64,
 0    9321.44
 dtype: float64,
 0    1501.07
 dtype: float64,
 0    10370.94
 dtype: float64,
 0    1150.43
 dtype: float64,
 0    1744.39
 dtype: float64,
 0    1791.9
 dtype: float64,
 0    4296.05
 dtype: float64,
 0    3039.9
 dtype: float64,
 0    1862.69
 dtype: float64,
 0    2963.74
 dtype: float64,
 0    2420.63
 dtype: float64,
 0    1037.35
 dtype: float64,
 0    5614.16
 dtype: float64,
 0    3754.59
 dtype: float64,
 0    4168.55
 dtype: float64,
 0    4373.29
 dtype: float64,
 0    2319.64
 dtype: float64,
 0    500.84
 dtype: float64,
 0    2030.6
 dtype: float64,
 0    372.65
 dtype: float64,
 0    452.72
 dtype: float64,
 0    195.8
 dtype: float64,
 0    632.21
 dtype: float64,
 0    6786.86
 dtype: float64,
 0    468.85
 dtype: float64,
 0    438.14
 dtype: float64,
 0    1083.56
 dtype: float64,
 0    671.47
 dtype: float64,
 0    1505.39
 dtype: float64,
 0    338.12
 dtype: float64,
 0    642.75
 dtype: float64,
 0    1006.79
 dtype: float64,
 0    1124.2
 dtype: float64,
 0    125.1
 dtype: float64,
 0    284.96
 dtype: float64,
 0    483.78
 dtype: float64,
 0    101.57
 dtype: float64,
 0    1823.57
 dtype: float64,
 0    1097.18
 dtype: float64,
 0    421.18
 dtype: float64,
 0    236.81
 dtype: float64,
 0    2011.2
 dtype: float64,
 0    185.1
 dtype: float64,
 0    539.44
 dtype: float64,
 0    584.49
 dtype: float64,
 0    84.6
 dtype: float64,
 0    252.18
 dtype: float64,
 0    1160.03
 dtype: float64,
 0    527.84
 dtype: float64,
 0    226.24
 dtype: float64,
 0    846.84
 dtype: float64,
 0    303.4
 dtype: float64,
 0    314.93
 dtype: float64,
 0    615.96
 dtype: float64,
 0    332.33
 dtype: float64,
 0    869.33
 dtype: float64,
 0    500.93
 dtype: float64,
 0    176.87
 dtype: float64,
 0    531.66
 dtype: float64,
 0    333.99
 dtype: float64,
 0    1495.8
 dtype: float64,
 0    50.4
 dtype: float64,
 0    173.85
 dtype: float64,
 0    397.35
 dtype: float64,
 0    274.65
 dtype: float64,
 0    209.53
 dtype: float64,
 0    100.12
 dtype: float64,
 0    584.24
 dtype: float64,
 0    1.93
 dtype: float64,
 0    548.07
 dtype: float64,
 0    112.54
 dtype: float64,
 0    69.09
 dtype: float64,
 0    79.18
 dtype: float64,
 0    299.59
 dtype: float64,
 0    182.09
 dtype: float64,
 0    55.91
 dtype: float64,
 0    77.7
 dtype: float64,
 0    331.92
 dtype: float64,
 0    39.09
 dtype: float64,
 0    35.55
 dtype: float64,
 0    43.23
 dtype: float64,
 0    37.96
 dtype: float64,
 0    196.72
 dtype: float64,
 0    48.74
 dtype: float64,
 0    20.61
 dtype: float64,
 0    3.9
 dtype: float64,
 0    31.12
 dtype: float64,
 0    6.73
 dtype: float64,
 0    333.21
 dtype: float64,
 0    149.16
 dtype: float64,
 0    325.19
 dtype: float64,
 0    61.62
 dtype: float64,
 0    30.0
 dtype: float64,
 0    22.1
 dtype: float64,
 0    215.44
 dtype: float64,
 0    20.57
 dtype: float64,
 0    26.54
 dtype: float64,
 0    118.7
 dtype: float64,
 0    282.86
 dtype: float64,
 0    71.74
 dtype: float64,
 0    93.15
 dtype: float64,
 0    35.32
 dtype: float64,
 0    103.51
 dtype: float64,
 0    16.79
 dtype: float64,
 0    24.21
 dtype: float64,
 0    16.58
 dtype: float64,
 0    172.13
 dtype: float64,
 0    133.17
 dtype: float64,
 0    59.88
 dtype: float64,
 0    5.41
 dtype: float64,
 0    48.16
 dtype: float64,
 0    35.46
 dtype: float64,
 0    20.51
 dtype: float64,
 0    30.4
 dtype: float64,
 0    42.89
 dtype: float64,
 0    20.5
 dtype: float64,
 0    186.1
 dtype: float64,
 0    278.24
 dtype: float64,
 0    0.82
 dtype: float64,
 0    74.91
 dtype: float64,
 0    20.49
 dtype: float64,
 0    6.64
 dtype: float64,
 0    56.55
 dtype: float64,
 0    7.2
 dtype: float64,
 0    5.48
 dtype: float64,
 0    14.2
 dtype: float64,
 0    10.85
 dtype: float64,
 0    11.15
 dtype: float64,
 0    3.95
 dtype: float64,
 0    17.52
 dtype: float64,
 0    8.81
 dtype: float64,
 0    8.04
 dtype: float64,
 0    9.91
 dtype: float64,
 0    18.03
 dtype: float64,
 0    17.98
 dtype: float64,
 0    13.99
 dtype: float64,
 0    37.34
 dtype: float64,
 0    6.82
 dtype: float64,
 0    8.87
 dtype: float64,
 0    24.72
 dtype: float64,
 0    3.23
 dtype: float64,
 0    14.54
 dtype: float64,
 0    5.76
 dtype: float64,
 0    9.65
 dtype: float64,
 0    8.09
 dtype: float64,
 0    6.23
 dtype: float64,
 0    1.8
 dtype: float64,
 0    5.82
 dtype: float64,
 0    8.16
 dtype: float64,
 0    2.06
 dtype: float64,
 0    0.68
 dtype: float64,
 0    1.68
 dtype: float64,
 0    2.11
 dtype: float64,
 0    2.12
 dtype: float64,
 0    3.57
 dtype: float64,
 0    1.26
 dtype: float64,
 0    1.72
 dtype: float64,
 0    1.42
 dtype: float64,
 0    1.75
 dtype: float64,
 0    0.69
 dtype: float64,
 0    1.09
 dtype: float64,
 0    0.61
 dtype: float64,
 0    0.49
 dtype: float64,
 0    0.52
 dtype: float64,

In [9]:
print('hello')

hello